
<style>
    .main-background
    {
        display: block;
  background: url("/img/hl_alyx.jpg") no-repeat;
  background-size: 100%;
    }
</style>

<div class="main-background vh-100 d-flex align-items-center justify-content-center py-3 text-center text-white bg-dark">
  <main class="px-3">
    <h1>Witaj w naszym sklepie!</h1>
        <p class="lead">Autorzy aplikacji Michał Koczumiński i  Dmytro Kosinskyi. Wykonano w technologii asp.net</p>
    <p class="lead">
      <a href="/Games/List" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Poszukaj i znajdź coś dla siebie.</a>
    </p>
  </main>

  </div>