
<style>
    .row
    {
        margin-top: 100px;
    }
</style>

<div class="row bg-dark offset-3 col-md-5">
    <h2 class="text-light">Dziękujemy za zamówienie!</h2>
    <p class="text-light">Klucz cyfrowy został wysłany pocztą e-mail. Jeśli nie otrzymałeś wiadomości e-mail, sprawdź folder spamu.</p>
    </div>